<a href="https://colab.research.google.com/github/POLARIS0027/Django-study/blob/main/BaekJoon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
hour, min = map(int, input().split())
time = int(input())

timeh = time // 60
timem = time % 60

ansh = hour + timeh 
ansm = min + timem 

if ansm >= 60 and ansh < 24:
  ansh = ansh +1
  ansm = ansm - 60 
  print(f'{ansh} {ansm}')
elif ansm >= 60 and ansh >= 24:
  ansh = ansh +1
  ansh = ansh - 24
  ansm = ansm - 60 
  print(f'{ansh} {ansm}')
else:
  print(f'{ansh} {ansm}')

23 30
30
24 0
24 0

In [ ]:
hour, min = map(int, input().split())
time = int(input())

timeh = time // 60
timem = time % 60

ansh = hour + timeh 
ansm = min + timem 

if ansm >= 60:
  ansh = ansh +1 
  if ansh <24:
    ansm = ansm -60
    print(f'{ansh} {ansm}')
  elif ansh >= 24:
    ansh = ansh -24
    ansm = ansm - 60 
    print(f'{ansh} {ansm}')
elif ansm < 60 and ansh  >= 24:
  ansh = ansh -24
  print(f'{ansh} {ansm}')
else:
  print(f'{ansh} {ansm}')

14 30
50
15 20

In [ ]:
a, b, c  = map(int, input().split())
dice = [a, b, c]
dice.sort(reverse=True)
setdice = set(dice)
if len(setdice) == 1 :
  print((dice[0]*1000)+10000)
elif len(setdice) == 2 :
  alpha = dice[0]
  beta = dice[2]
  countalpha = dice.count(alpha)
  countbeta = dice.count(beta)
  if countalpha > countbeta :
    print(1000+(alpha*100))
  else:
    print(1000+(beta*100))
else:
  print(dice[0]*100)

6 2 5
600

In [ ]:
N = int(input())
for i in range(1,10):
  print(f'{N} * {i} = {N*i}')

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
testnum = int(input())
for _ in range(testnum):
  a, b = map(int, input().split())
  result = a + b
  print(result)

In [ ]:
n = int(input())
result = 0 
for i in range (1,n+1):
  result = result + i 

print(result)

10
55

In [ ]:
t = int(input())
for i in range(1,t+1):
  print(i)

5
1
2
3
4
5

In [ ]:
t = int(input())
for i in range(t,0,-1):
  print(i)

5
5
4
3
2
1

In [ ]:
t = int(input())
case = 0 
for i in range(t):
  case += 1 
  a, b = map(int, input().split())
  result = a + b
  print(f'Case #{case}: {result}')

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

In [ ]:
t = int(input())
case = 0 
for i in range(t):
  case += 1 
  a, b = map(int, input().split())
  result = a + b
  print(f'Case #{case}: {a} + {b} = {result}')

In [ ]:
t = int(input())
st = 0 
for i in range(t,0,-1):
  st = st +1
  blnk =' '
  result = blnk*(i-1)+('*'*st)
  print(result)

5
    *
   **
  ***
 ****
*****

In [ ]:
a, b = map(int, input().split())
lst = list(map(int, input().split()))
result = []
for i in lst:
  if i < b:
    print(i,end=' ')
else:
    pass

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3